#nav{
    background-color: #12343b;
}
.dropdown-menu{
    width: 40% !important;
    max-height: 1075%;
    overflow-y: auto;
    background-color: #a09075 !important;
}
.head{
    padding-left: 3%;
    color: rgb(245, 241, 243);
    font-weight: bold;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}
.dropdown-item{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}
.nav-item{
    font-size: 150%;
}


